.checkoutProduct{
    display: flex;
    margin: 20px 0px;
}
.checkoutProduct__image {
    object-fit: contain;
    width: 50px;
    height: 50px;
}
.checkoutProduct__rating {
    display: flex;
    color: #f0c14b;
}
.checkoutProduct__info {
    padding-left: 20px;
}
.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}
.checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}