.popup-box {
    position: fixed;
    background: white;
    width: 30%;
    height: 35vh;
    top: 250px;
    left: 470px;
    
}

.box{
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #999;
    overflow: auto;
    border-radius: 3px;
    

}
.close-icon{
    content: 'x';
    cursor: pointer;
    position: fixed;
    width: 25px;
    height: 25px;
    text-align: center;
    background: #ededed;
    right: 480px;

}