.login {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__container {
    width: 300px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray;
}
.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}
.login__container > form > h5 {
    margin-bottom: 5px;
}
.login__container > form > input {
    height: 30px;
    width: 98%;
    background-color: white;
    margin-bottom: 10px;
}
.login__container > form > p {
    margin-top: 15px;
    font-size: 12px;
}
.login__logo {
    width: 100px;
    object-fit: contain;
    margin: 20px 0px;
}
.login__signInBtn {
    width: 100%;
    background: #f0c14b;
    border: 1px solid;
    padding: 10px 0px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
.login__registerBtn {
    width: 25%;
    background: lightgrey;
    border: 1px solid;
    padding: 10px 0px;
    margin-top: 10px;
    border-color: lightgrey;
    color: #111;
}

.login__p {
    font-size: 12px;
    color: gray;
}

.login__containerb {
    width: 450px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid lightgray;
}

.login__containerb > form > input {
    height: 25px;
    width: 98%;
    background-color: white;
    margin-bottom: 10px;
}

.login__signInBtnb {
    width: 25%;
    background: #f0c14b;
    border: 1px solid;
    padding: 10px 0px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}