.home {
    max-width: 1500px;
    margin: 0px auto;
}
.home__row {
    display: flex;
    z-index: 1;
    margin: 0px 5px;
    flex-wrap: wrap;
    margin: 0px auto;
    justify-content: center;
}
.home__image{
    width: 100%;
    object-fit: contain;
    /* mask-image: linear-gradient(to bottom, rgba(0,0, 0, 0), rgba(0, 0,0, 1)); */
    margin-bottom: -150px;

}
